html {
    height: 100%;
    min-height: 100%;
    max-width: 100%;
    position: relative;
}

body {
    background: #f1f4f6;
    min-height: 100%;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: Black;
}

#main-body {
    min-height: 100%;
    max-width: 100%;
    position: relative;
}

#main-body form {
    width: 100%;
}

#main-body table {
    margin: 0 auto;
}

#main-container {
    min-height: 100%;
    width: 100%;
    padding-bottom: 102px;
    position: relative;
}

#main-header-background {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    background-color: #0e2e47;
}

#main-header-container {
    height: 100%;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
}

#main-header-logos {
    height: 100%;
    width: 100%;
    position: relative;
}

#main-header-logos #pci-logo {
    position: absolute;
    bottom: 5px;
    left: 5px;
    cursor: pointer;
}

#main-content {
    height: 100%;
    margin: 0 auto;
    display: block;
}

#main-header-menu {
    height: 100%;
    float: right;
    display: block;
    text-align: center;
}

.main-header-menu-item {
    height: 50px;
    background: #0e2e47;
    color: #ffffff;
    width: 75px;
    display: inline-block;
}

.main-header-menu-item:hover {
    background: #a3a8aa;
    cursor: pointer;
}

#main-header-menu-item p {
    text-align: center;
    vertical-align: bottom;
}

#main-footer {
    width: 100%;
    max-height: 102px;
    background-color: #f1f4f6;
    border-top: 1px solid #ccc;
}

#main-footer p {
    color: #494a4b;
    margin: 0 auto;
    text-align: left;
}

#main-footer-content {
    margin: 0 auto;
    width: 850px;
    max-width: 100%;
}

#main-footer-content .left {
    display: inline-block;
    width: 575px;
    max-width: 70%;
}

#main-footer-content .right {
    display: inline-block;
    width: 220px;
    padding-left: 15px;
    max-width: 20%;
}

#main-banner {
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-position: center top;
    background: no-repeat center center cover;
    max-width: 100%;
    height: 125px;
    width: 878px;
    margin: 0 auto;
}

@media only screen and (max-width: 800px) {

    #main-footer p {
        font-size: 10px;
    }

    #main-footer-content .right {
        padding-left: 5px;
    }

    #main-header-menu {
        display: none;
    }

}

@media only screen and (max-width: 500px) {

    #main-footer p {
        font-size: 7px;
        padding-left: 0;
    }

    #main-footer-content .right {
        padding-left: 0;
    }

}